
# BEGIN VWORD
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /vword/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /vword/index.php [L]
</IfModule>

# END VWORD
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /vword/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /vword/index.php [L]
</IfModule>

# END WordPress